:root {
  --background-colour: rgb(232, 127, 28);
  --secondary-colour: rgba(78, 113, 65, 0.784);
  --text-colour: #062210;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  background-color: var(--background-colour);
  color: var(--text-colour);
  margin-top: 80px;
}
h1 {
  padding-top: 60px;
}

.App-link {
  color: #2a7744;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
